html, body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
/* Features */

#features-col{
    background-color: #152238;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
}
/* End Features */

/* Contact */

#contact-col{
    background-color: #152238;
    border-top-right-radius: 90px;
}

/* End contact*/


/* Footer */

#footer{
    background-color: #152238;
    background-size: auto;
    color: #FFF;
}

ul{
    list-style-type: none;
}

li>a{
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

li>a:hover{
    color: #FFF;
    text-decoration: underline;
}

#copyright{
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#foo-image{
    padding: 0;
    margin: 0;
    
    width: 100%;
}

/* End footer */

/* Login page */

#login-right{
    background-color: #152238;
    height: 100vh;
}

/* End login page */

/* Scollbar */

::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #FFF;
  }

  ::-webkit-scrollbar-thumb {
    background: #152238;
  }

  
/* End scrollbar*/

/* Buttons */


.primary-button{
    background-color: #FFF;
    color: #152238;
    font-weight: 500 ;
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: none;
}

.secondary-button{
    background-color: #152238;
    color: #FFF;
    font-weight: 500 ;
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: none;
}

.btn-secondary{
    color: #fff;
    background-color: #152238;
    border-color: #0d6efd;
}
/* End buttons */