body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* Footer */

#footer{
    background-image: url("/public/images/foo_bg.jpg");
    background-color: #152238;
    background-size: auto;
    color: #FFF;
}

ul{
    list-style-type: none;
}

li>a{
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

li>a:hover{
    color: #FFF;
    text-decoration: underline;
}

#copyright{
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* End footer */