body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
/* Features */

#features-col{
    background-color: #152238;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
}
/* End Features */

/* Contact */

#contact-col{
    background-color: #152238;
    border-top-right-radius: 90px;
}

/* End contact*/


/* Footer */

#footer{
    background-color: #152238;
    background-size: auto;
    color: #FFF;
}

ul{
    list-style-type: none;
}

li>a{
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

li>a:hover{
    color: #FFF;
    text-decoration: underline;
}

#copyright{
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#foo-image{
    padding: 0;
    margin: 0;
    
    width: 100%;
}

/* End footer */

/* Scollbar */

::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #FFF;
  }

  ::-webkit-scrollbar-thumb {
    background: #152238;
  }

  
/* End scrollbar*/

/* Buttons */


.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary{
    color: #fff;
    background-color: #152238;
    border-color: #0d6efd;
}

.btn-secondary{
    color: #fff;
    background-color: #152238;
    border-color: #0d6efd;
}
/* End buttons */